body{
	background-color: #FFF3CE;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Arial, Verdana, sans-serif !important;
}
.container{
    padding:0px;
}
.navbar-inverse {
    background-color:  #FFF3CE;
    border-color:  #FFF3CE;
}
#SlideInMenu{
    z-index:10000;
}
.navbar-header button{
    background-color:#ccc;
}
.menu-close-button{
    display:none;
}
.nav li{
    border-bottom: 1px inset #565656;
    background-color:#333;
}
.nav li.title_bar{
    color:#fff;
    font-size: 9px;
    padding: 5px;
    background-color:#000;
}
.nav li a{
    color:#fff;
}
.navbar-header button {
    background-color:#FFF3CE;
    border:none;
}
.navbar-header button:hover {
    background-color:#FFF3CE !important;
    border:none;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #FFF3CE !important;
}

.navbar-header .fav {
    background-color: #ccc;
    margin-top:20px;
}
.navbar-header .fav {
    display: block;
    width: 75px;
    height: 54px;
    position: absolute;
    right: 79px;
    top: -1px;
}
.navbar-toggle {
    width:92px;
}
body, html{
    height:100%;
}
img{
    width:100%;
    height:auto;
}
h1.top{
    text-align:center;
}
h1.top img{
    margin-bottom:30px;
    width: 80%;
    margin-top: -30px;
}
h2.top img{
    width: 100%;
    margin-top: -30px;
}
.block h3{
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: -1px;
}
#SlideInMenu{
    position:fixed;
}
.slideLinkL li{
    background-color:#fff;
}
.osiraseBox .box_R {
    background-color:#fff;
}

.bknBox_A{
    background-color:#fff;
}
h2.name_car{
    text-align:left;
}
.navbar{
    margin-top:-13px;
}
#p2-c{
    position: relative;
    top: 110px;
}
#p3-c{
    position: relative;
    top: -110px;
}

.indexBar td span {
    background-color:#ccc;
}
h1{
    text-align:left;
}
.bknDtlMainPhoto img{
    margin:0px;
    width:70%;
}
.pageBody{
    background-color:#fff;
}
.pageHeader{
    margin-top:-35px;
    background-color:#fff;
}
#tab_menu_img a{
    display: block;
    width: 33.333%;
    height: 94px;
    float: left;
}
#tab-link-box{
    position:relative;
    margin-top:-94px;
}
.tab_menu img{
    height:94px;
    width:100%;
}
#tab-contents-2,#tab-contents-3{
    display:none;
}
.bknBox_A .bknBox_mid {
    min-height: 0; 
}
.wp-pagenavi{
    padding: 20px;
    font-size: 18px;
}
.wp-pagenavi span, .wp-pagenavi a {
    margin: 10px;
    border: 1px solid;
    padding: 5px;
}

.goo_img img{
    width:300px;
}
#contact_title { display: inline; float: left;  margin-right: 40px; }

.contact_element { display: inline; }

.contact_mark { float: right; background-color: #f9910a; color: white; font-weight: bold; padding: 1px 4px; }

#contact_form table { width: 100%; border: 1px solid gray;  text-align:left; margin-left: -20px;}
#contact_form th { background-color: #ebebeb; width: 25%; padding: 5px; border-bottom: 1px gray solid; border-right: 1px gray dotted; }
#contact_form th th.necessary { background-color: #DDEDF8; width: 25%; padding: 5px; border-bottom: 1px gray solid; border-right: 1px gray dotted; }
#contact_form td { border-bottom: 1px gray solid; padding: 5px; }
#contact_form td input[type="text"] { width: 50%; margin: 0; }
#contact_form td input[type="email"] { width: 50%; margin: 0; }
#contact_form td input[name="your-message"] { width: 50%; margin: 0; }
#contact_form li { width: 33%; float: left; font-size: 11px; }
#contact_form textarea { width: 70%; }
#contact_form p { text-align: center; margin: 0 !important; }
#contact_form input[type="submit"] { box-shadow: 0px -10px 20px 3px rgba(0, 0, 0, 0.2) inset; font-size: 2em;  height: 70px; padding: 0; text-align: center; border: 2px solid; display: inline-block; color: white; margin: 10px auto; background-color: #0081ff; border-width: 0; border: #0065c9 solid 1px; border-right-width: 0; border-radius: 50px; background-image: none; }
#contact_form input[type="submit"]:hover { box-shadow: 0px -10px 20px 10px rgba(0, 0, 0, 0.2) inset; background-color: #0052a4; text-decoration: none; margin: 12px auto 8px auto; }
#contact_form input[type="button"] { margin: 20px 20px -10px 0 !important; font-size: 30px;  height: 60px; text-align: center; margin-top: 20px; line-height: 1.428571429; font-weight: normal; color: #7c7c7c; background-color: #e6e6e6; background-repeat: repeat-x; background-image: -webkit-linear-gradient(top, #f4f4f4, #e6e6e6); background-image: linear-gradient(top, #f4f4f4, #e6e6e6); border: 1px solid #d2d2d2; border-radius: 3px; box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1); }

.arrow1 { margin-top: 20px; float: left; padding-top: 5px; width: 150px; height: 25px; background: #87c4ed; position: relative; }
.arrow1:after { border-left: 25px solid #87c4ed; border-top: 15px solid transparent; border-bottom: 15px solid transparent; content: ""; position: absolute; left: 50%; top: -2.5px; margin-left: 75px; }
.arrow1 span { position: relative; padding-left: 5px; z-index: 3; font-size: 15px; font-weight: bold; line-height: 1.4; text-shadow: 2px 2px 1px white; }

.arrow2 { margin-top: 20px; float: left; margin-left: 25px; padding-top: 5px; width: 75px; height: 25px; background: #87c4ed; position: relative; }
.arrow2:after { border-left: 25px solid #87c4ed; border-top: 15px solid transparent; border-bottom: 15px solid transparent; content: ""; position: absolute; left: 50%; top: -2.5px; margin-left: 37px; }
.arrow2 span { position: relative; padding-left: 5px; z-index: 3; font-size: 15px; font-weight: bold; line-height: 1.4; text-shadow: 2px 2px 1px white; }

.arrow3 { margin-top: 20px; float: left; margin-left: 25px; padding-top: 5px; width: 75px; height: 25px; background: #87c4ed; position: relative; }
.arrow3:after { border-left: 25px solid #87c4ed; border-top: 15px solid transparent; border-bottom: 15px solid transparent; content: ""; position: absolute; left: 50%; top: -2.5px; margin-left: 37px; }
.arrow3 span { position: relative; padding-left: 5px; z-index: 3; font-size: 15px; font-weight: bold; line-height: 1.4; text-shadow: 2px 2px 1px white; }

.arrow1.wpcf7c-elm-step1 {margin-bottom: 13px; float: left; padding-top: 5px; width: 150px; height: 25px; background: #1e98e9; position: relative; }

.arrow1.wpcf7c-elm-step1:after { border-left: 25px solid #1e98e9; border-top: 15px solid transparent; border-bottom: 15px solid transparent; content: ""; position: absolute; left: 50%; top: -2.5px; margin-left: 75px; }

.arrow2.wpcf7c-elm-step2 { float: left; padding-top: 5px; width: 75px; height: 25px; background: #1e98e9; position: relative; }

.arrow2.wpcf7c-elm-step2:after { border-left: 25px solid #1e98e9; border-top: 15px solid transparent; border-bottom: 15px solid transparent; content: ""; position: absolute; left: 50%; top: -2.5px; margin-left: 37px; }

.arrow3.wpcf7c-elm-step3 { float: left; padding-top: 5px; width: 75px; height: 25px; background: #1e98e9; position: relative; }

.arrow3.wpcf7c-elm-step3:after { border-left: 25px solid #1e98e9; border-top: 15px solid transparent; border-bottom: 15px solid transparent; content: ""; position: absolute; left: 50%; top: -2.5px; margin-left: 37px; }

#wpcf7-f11-p14-o1 table { width: 100%; border: 1px solid gray; }
#wpcf7-f11-p14-o1 th { background-color: #ebebeb; width: 25%; padding: 5px; border-bottom: 1px gray solid; border-right: 1px gray dotted; }
#wpcf7-f11-p14-o1 th.necessary { background-color: #DDEDF8; width: 25%; padding: 5px; border-bottom: 1px gray solid; border-right: 1px gray dotted; }
#wpcf7-f11-p14-o1 td { border-top: 0; border-bottom: 1px gray solid; padding: 5px; }
#wpcf7-f11-p14-o1 tdinput[type="text"] { width: 50%; margin: 0; }
#wpcf7-f11-p14-o1 tdinput[type="email"] { width: 50%; margin: 0; }
#wpcf7-f11-p14-o1 li { width: 33%; float: left; font-size: 11px; }
#wpcf7-f11-p14-o1 textarea { width: 70%; }
#wpcf7-f11-p14-o1 td input[name="your-message"] { width: 50%; margin: 0; }
#wpcf7-f11-p14-o1 input[type="submit"] { box-shadow: 0px -10px 20px 3px rgba(0, 0, 0, 0.2) inset; font-size: 2em;  height: 70px; padding: 0; text-align: center; border: 2px solid; display: inline-block; color: white; margin: 10px auto; background-color: #0081ff; border-width: 0; border: #0065c9 solid 1px; border-right-width: 0; border-radius: 50px; background-image: none; }
#wpcf7-f11-p14-o1 input[type="submit"]:hover { box-shadow: 0px -10px 20px 10px rgba(0, 0, 0, 0.2) inset; background-color: #0052a4; text-decoration: none; margin: 12px auto 8px; }
#wpcf7-f11-p14-o1 input[type="button"] { border: 0; background-color: white; color: cornflowerblue; }
#wpcf7-f11-p14-o1 p.wpcf7c-elm-step2 { display: inline; }

#wpcf7-f11-p14-o2 table { width: 100%; }

#wpcf7-f11-p14-o2 table { width: 100%; border: 1px solid gray; }

#wpcf7-f11-p14-o2 th { background-color: #ebebeb; width: 25%; padding: 5px; border-bottom: 1px gray solid; border-right: 1px gray dotted; }

#wpcf7-f11-p14-o2 th.necessary { background-color: #DDEDF8; width: 25%; padding: 5px; border-bottom: 1px gray solid; border-right: 1px gray dotted; }

#wpcf7-f11-p14-o2 td { border-top: 0; border-bottom: 1px gray solid; padding: 5px; }

#wpcf7-f11-p14-o2 td input[type="text"] { width: 50%; margin: 0; }

#wpcf7-f11-p14-o2 td input[type="email"] { width: 50%; margin: 0; }

#wpcf7-f11-p14-o2 li { width: 33%; float: left; font-size: 11px; }

#wpcf7-f11-p14-o2 textarea { width: 70%; }

#wpcf7-f11-p14-o2 td input[name="your-message"] { width: 50%; margin: 0; }

#wpcf7-f11-p14-o2 input[type="submit"] { box-shadow: 0px -10px 20px 3px rgba(0, 0, 0, 0.2) inset; font-size: 2em;  height: 70px; padding: 0; text-align: center; border: 2px solid; display: inline-block; color: white; margin: 10px 0 10px 72px; background-color: #0081ff; border-width: 0; border: #0065c9 solid 1px; border-right-width: 0; border-radius: 50px; background-image: none; }
#wpcf7-f11-p14-o2 input[type="submit"]:hover { box-shadow: 0px -10px 20px 10px rgba(0, 0, 0, 0.2) inset; background-color: #0052a4; text-decoration: none; margin: 12px 0 8px 72px; }

#wpcf7-f11-p14-o2 input[type="button"] { float: left; border: 0; background-color: white; color: cornflowerblue; }

#wpcf7-f11-p14-o2 p.wpcf7c-elm-step2 { display: inline; }

.present{
	font-size: 15px;
	color: red;
	background-color: red;
	color: #fff;
	padding: 3px;
	width: 30%;
	display: inline;
	border-radius: 10px;
	-webkit-border-radius: 5px;
	text-align: center;
	-moz-border-radius: 10px;
}
